__pycache__/aigame.cpython-37.pyc
__pycache__/trainSmartAgent.cpython-37.pyc
x86_64/libnrnmech.la
x86_64/mod_func.c
x86_64/mod_func.lo
x86_64/nsloc.c
x86_64/nsloc.lo
x86_64/nsloc.mod
x86_64/special
x86_64/stdp.c
x86_64/stdp.lo
x86_64/stdp.mod
x86_64/.libs/libnrnmech.0.so
x86_64/.libs/libnrnmech.la
x86_64/.libs/libnrnmech.lai
x86_64/.libs/libnrnmech.so
x86_64/.libs/mod_func.o
x86_64/.libs/nsloc.o
x86_64/.libs/stdp.o
weights.txt
